.tweets-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background-color: #b6a893;
  background-image: url('/images/45-degree-fabric-light.png');
  padding: 30px;
  flex-direction: column;
}

.tweet {
  border: 5px solid;
  height: fit-content;
  width: 100%;
  background-color: #b6a893;
  background-image: url('/images/45-degree-fabric-light.png');
  padding: 20px;
  margin-bottom: 20px;
}

.tweet:hover {
  box-shadow: 5px 5px #4e4e4e50;
}

.tweet-header {
  display: flex;
  width: 100%;
}

.profile-display {
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 15px;
}

.profile-image {
  height: 75px;
  width: 75px;
  margin-right: 15px;
}

.profile-name {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 28px;
}

.tweeter-handle {
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 15px;
  color: #8c8eff
}

.tweet-box {
  display: flex;
  width: 100%;
  border-bottom: 5px solid #333333;
}

.tweet-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  margin-left: 20px;
  margin-right: 20px;
}

.tweet-footer {
  display: flex;
  width: 100%;
}

.tweet-timestamp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  margin-left: 15px;
  font-size: 22px;
}

.tweet-icons-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  margin-right: 30px;
}

.tweet-icons {
  width: 10px;
  height: 10px;
  margin: 15px;
  color: #4346ff;
}

.tweet-icons:hover {
  color: #ffa013;
}

.user-name {}